/* styling page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header, footer {
    background: #000;
    color: #fff;
    text-align:center;
    padding: 15px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

/* element selector */
label {
    font-weight: bold;
    display: block;
    margin-bottom:5px;
}

/* class selector */
.form-group {
    margin-bottom:15px;
}

/* ID selector */
#registration-form {
    border: 2px solid #000;
    padding: 20px;
}

/* attribute selector */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px; /* padding = inside space */
    border: 1px solid #999;
    border-radius:6px;
}

    /* pseudo-class */
    input:focus, select:focus {
        outline: 2px solid dodgerblue;
    }

/* inline (radio & checkbox) */
.inline {
    display: inline-flex;
    gap: 6px;
    margin-right:15px;
}

/* button */
.btn {
    margin-top: 15px;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

    .btn:hover {
        background: #333;
    }
